<table class="table files-table" id="folders_table" data-folder-id="<%= @folder.id %>">
    <thead>
        <tr>
            <td id="icon-column"></td>
            <td class="clickable-table-column"><%= sort_link @folders_search, :name, "Name" %></td>
            <td class="clickable-table-column"><%= sort_link @folders_search, :owner_username, "Created by" %></td>
            <td class="clickable-table-column"><%= sort_link @folders_search, :created_at, "Created at" %></td>
            <td id="action-column"></td>
        </tr>
    </thead>
    <tbody>
        <%= render @folders %>
    </tbody>
</table>