<%= render "form" %>
<%= render "items/form" %>
<div class="file-manager">
    <div class="controls">
        <i class="material-icons" onclick="history.go(-1);return true;">keyboard_arrow_left</i>
        <i class="material-icons" onclick="history.go(1);return true;">keyboard_arrow_right</i>
        <% if @folder.get_parent %>
            <%= link_to folder_path(@folder.get_parent), class: "icon-link" do %>
                <span class="glyphicon glyphicon-level-up"></span>
            <% end %>
        <% end %>
        <i class="material-icons" id="new_folder_btn" onclick="openFolderForm()">create_new_folder</i>
        <div class="folders-path">
            <%= @folder.get_path(@folder).to_s.html_safe %><br>
        </div>
        <%= render "folders" %>
        <%= render "items/items" %>
    </div>
</div>
