<%= render "form" %>
<%= render "items/form" %>
<div class="file-manager">
    <%= render "controls" %>
    <div class="tables">
        <%= render "folders" %>
        <%= render "items/items" %>
    </div>
</div>
